/*HomePage.html -- LINK1*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.files-container{
    width: 200px;
    height: 200px;
    position: relative;
}
.files-container img{
    width: 50%;
}
.open-file {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.open-file:hover{
    opacity: 1;
    margin: 1px;
}
.BorderLink1:hover{
    border-style: dotted;
    border-color: rgb(3, 9, 124);       background-color: rgb(18, 65, 105);
    margin:10px;
    width: 100px;                         height: 90px;
}
/*PopupPage2.Html -- LINK2*/
.Border1{ /* OUTER BORDER - blue*/
    font-size: 59px;
    border-radius: 2px;                     border: 3px solid;
    background: linear-gradient(to bottom, rgb(61, 74, 218),rgb(29, 29, 218));
    border-color: rgb(5, 21, 50);
    margin: 30px auto;
    width: 550px;                           height: 250px;
}
.Border2{ /*INNER BORDER -white */
    border-radius: 2px;                      border: 3px solid;
    background-color: rgb(226, 239, 251);  border-color: rgb(5, 33, 83);
    margin: 10px auto;                       margin-left: 13px;
    width: 520px;                            height: 190px;
}
.BorderExit { /* INNER BORDER - ExitButton*/
    line-height: 0.5;                        border: 3px solid;
    font-size: 25px;                         text-align: center;
    border-style:inherit;                    border-radius: 1px;                    
    background-color: rgb(226, 102, 80);   border-color: rgb(62, 19, 112);
    margin: 10px auto;                       margin-right: 13px;
    width: 25px;                             height: 23px;
}
.BorderExit:hover{
     transform: scale(1.1);
    background-color: rgb(255, 8, 0);
}
.P1{ /* Christmas Card*/
    position: absolute;
    left: 550px;
    top: 12em; 
    left: 45em;   
    bottom: 27.5em;                 
    color: white;
    font-size: 20px;
}
.P2{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    color: rgb(255, 0, 0);
}
.Yes1{ /* Yes Border */
    border-radius: 2px;
    border-style: dotted;                    border: 2px solid; 
    background-color: rgb(205, 218, 231);  border-color: rgb(5, 33, 83);
    position: absolute;
    margin: 50px auto;                       margin: auto; 
    left: 13em;                              bottom: 8.5em;
    width: 80px;                             height: 30px;
}
.Yes1:hover{
    transform: scale(1.1);
    background-color: rgb(159, 176, 196);
}
.PYes{ /*Yes*/
    font-size: 25px;
    text-decoration: none;
    position: absolute;                      left: 20px;
    color: black;
}
.PYes:hover{
    transform: scale(1.1);
    color: rgb(47, 19, 186);
}
.No1{ /* No Border */
    border-radius: 2px;
    border-style: dotted;                    border: 2px solid; 
    background-color: rgb(205, 218, 231);  border-color: rgb(5, 33, 83);
    position: absolute;
    margin: 50px auto;                       margin: auto; 
    right: 13em;                             bottom: 8.5em;
    width: 80px;                             height: 30px;
}
.No1:hover{
    transform: scale(1.1);
    background-color: rgb(159, 176, 196);
}
.PNo{ /*No*/
     font-size: 25px;
    text-decoration: none;
    position: absolute;
    left: 20px;
    color: black;
}
.PNo:hover{
     transform: scale(1.1);
     color: rgb(47, 19, 186);
}
/*Rickroll Page .Html -- LINK3*/
.Rickroll, .content{
    background: rgba(0,0,0,0.2);           color: aliceblue;
    height: 100%;                            width: 100%;
    z-index: 20;                             display: flex;
    position: absolute;                      text-align: center;    
    top: 0;                                  left: 0;
    align-items: center;                     justify-content: center;
}
.Yes2{ /*Border for YES */
    border-radius: 2px;
    border-style: dotted;                    border: 2px solid; 
    background-color: rgb(205, 218, 231);  border-color: rgb(5, 33, 83);
    position: absolute;
    margin: auto;                            bottom: 21em;
    width: 80px;                             height: 30px;
}
.Yes2:hover{
  transform: scale(1.1);                     background-color: rgb(124, 177, 236);
}
.PYes2{
    font-size: 25px;
    text-decoration: none;
    position: absolute;                      left: 20px;
    color: black;
}
.PYes2:hover{
     transform: scale(1.1);
    color: rgb(21, 111, 206);
}
.P3{ 
     text-align: center;
    font-size: 20px;
    margin-top: 50px;
    color: rgb(255, 0, 0);
}
.Enter{
      border-radius: 2px;
    border-style: dotted;                    border: 2px solid; 
    background-color: rgb(205, 218, 231);  border-color: rgb(5, 33, 83);
    position: absolute;
    left: 15.5em;                              bottom: 8.5em;
    width: 80px;                             height: 30px;
}
.Enter:hover{
      transform: scale(1.1);
    color: rgb(21, 111, 206);
}
.AEnter{ /* Page1Yes.html Enter */
     font-size: 25px;
    text-decoration: none;                   left: 15px;
    position: absolute;                      color:rgb(3, 4, 93);   
} 
.AEnter:hover{ 
         transform: scale(1.1);
    color: rgb(21, 111, 206);
}
