/*HomePage.html -- LINK1*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.files-container{
    width: 200px;
    height: 200px;
    position: relative;
}
.files-container img{
    width: 50%;
}
.open-file {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.open-file:hover{
    opacity: 1;
    margin: 1px;
}
.BorderLink1:hover{
    border-style: dotted;
    border-color: rgb(3, 9, 124);
    background-color: rgb(18, 65, 105);
    margin:10px;
    width: 100px;
    height: 90px;
}
/*PopupPage2.Html -- LINK2*/
.Border1{ /* OUTER BORDER - blue*/
      line-height: 2.0;
    font-size: 59px;
    border-radius: 2px;
    border: 3px solid;
    background: linear-gradient(to bottom, rgb(61, 74, 218),rgb(29, 29, 218));
    border-color: rgb(5, 21, 50);
    margin: 30px auto;
    width: 550px;
    height: 250px;
}
.Border2{
      line-height: 2.0;
    font-size: 59px;
    border-radius: 2px;
    border: 3px solid;
    background-color: rgb(226, 239, 251);
    border-color: rgb(5, 33, 83);
    margin: 28px auto;
    width: 530px;
    height: 210px;
}